/* Override default range styles */
input[type=range] {
  --thumb-border: 0px;
  --thumb-height: 14px;
  --thumb-width: 14px;
  --thumb-border-radius: 50%;
  --thumb-cursor: pointer;
  --track-width: 100%;
  --track-height: 3px;
  --track-cursor: pointer;
}

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}
  
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

/* Slider Thumb styles */
input[type=range]::-webkit-slider-thumb {
  border: var(--thumb-border);
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: var(--thumb-border-radius);
  cursor: var(--thumb-cursor);
  background: var(--red-color);
  -webkit-appearance: none;
  margin-top: -5px;
}

input[type=range]::-moz-range-thumb {
  border: var(--thumb-border);
  height: var(--thumb-height);
  width: var(--thumb-width);
  border-radius: var(--thumb-border-radius);
  cursor: var(--thumb-cursor);
  background: var(--red-color);
}

/* Track styles */
input[type=range]::-webkit-slider-runnable-track {
  width: var(--track-width);
  height: var(--track-height);
  background: var(--gray-color);
  cursor: var(--track-cursor);
}
  
input[type=range]:focus::-webkit-slider-runnable-track {
  background: var(--black-color);
}
  
input[type=range]::-moz-range-track {
  width: var(--track-width);
  height: var(--track-height);
  background: var(--gray-color);
  cursor: var(--track-cursor);
}