@import url('https://fonts.googleapis.com/css?family=Poppins:500');

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    color: var(--black-color);
    overflow: hidden;
}

svg path {
    stroke-width: 1;
    stroke: var(--gray-color);
    stroke-linecap: round;
    fill: none;
}

svg circle {
    fill: var(--red-color);
}

fieldset {
  position: absolute;
  right: 20px;
  top: 20px;
  border: 2px solid var(--black-color);
  border-radius: 10px;
  background: var(--white-color);
}

input[type=range] {
  max-width: 130px;
  padding: 0px 10px;
}

label {
  width: 80px;
}

.control-group {
  display: flex;
}